# Создание таблиц и вставка данных

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

Создание локальной простенькой БД

In [3]:
connection = create_connection("users_18_05.db")

Connection to SQLite DB successful

### Создание таблиц

In [19]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [20]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

In [21]:
execute_query(connection, create_users_table)

Query executed successfully

In [23]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [24]:
execute_query(connection, create_posts_table)

Query executed successfully

In [25]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

### Добавление записей

In [27]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Query executed successfully

In [28]:
create_posts = """
INSERT INTO
  posts (title, description, user_id)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

Query executed successfully

In [29]:
create_comments = """
INSERT INTO
  comments (text, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

### Извлечение данных из записей

In [31]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [33]:
select_users = "SELECT name, age from users WHERE age = 25"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

('James', 25)
('James', 25)
('James', 25)
('James', 25)
('James', 25)
('James', 25)
('James', 25)
('James', 25)
('James', 25)

In [34]:
select_posts = "SELECT * FROM posts"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Happy', 'I am feeling very happy today', 1)
(2, 'Hot Weather', 'The weather is very hot today', 2)
(3, 'Help', 'I need some help with my work', 2)
(4, 'Great News', 'I am getting married', 1)
(5, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(6, 'Party', 'Anyone up for a late-night party today?', 3)
(7, 'Happy', 'I am feeling very happy today', 1)
(8, 'Hot Weather', 'The weather is very hot today', 2)
(9, 'Help', 'I need some help with my work', 2)
(10, 'Great News', 'I am getting married', 1)
(11, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(12, 'Party', 'Anyone up for a late-night party today?', 3)
(13, 'Happy', 'I am feeling very happy today', 1)
(14, 'Hot Weather', 'The weather is very hot today', 2)
(15, 'Help', 'I need some help with my work', 2)
(16, 'Great News', 'I am getting married', 1)
(17, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(18, 'Party', 'Anyone up for a late-night party today?', 3)
(19, 'Happy', 'I am feeling very happy today', 1)
(20, 'Hot Weather', 'The weather is very hot today', 2)
(21, 'Help', 'I need some help with my work', 2)
(22, 'Great News', 'I am getting married', 1)
(23, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(24, 'Party', 'Anyone up for a late-night party today?', 3)
(25, 'Happy', 'I am feeling very happy today', 1)
(26, 'Hot Weather', 'The weather is very hot today', 2)
(27, 'Help', 'I need some help with my work', 2)
(28, 'Great News', 'I am getting married', 1)
(29, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(30, 'Party', 'Anyone up for a late-night party today?', 3)
(31, 'Happy', 'I am feeling very happy today', 1)
(32, 'Hot Weather', 'The weather is very hot today', 2)
(33, 'Help', 'I need some help with my work', 2)
(34, 'Great News', 'I am getting married', 1)
(35, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(36, 'Party', 'Anyone up for a late-night party today?', 3)
(37, 'Happy', 'I am feeling very happy today', 1)
(38, 'Hot Weather', 'The weather is very hot today', 2)
(39, 'Help', 'I need some help with my work', 2)
(40, 'Great News', 'I am getting married', 1)
(41, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(42, 'Party', 'Anyone up for a late-night party today?', 3)
(43, 'Happy', 'I am feeling very happy today', 1)
(44, 'Hot Weather', 'The weather is very hot today', 2)
(45, 'Help', 'I need some help with my work', 2)
(46, 'Great News', 'I am getting married', 1)
(47, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(48, 'Party', 'Anyone up for a late-night party today?', 3)