# Titanic with Spark MLlib

In [1]:
import warnings
warnings.filterwarnings('ignore')
spark_ui_port = 4040
app_name = "Otus"

from itertools import groupby

In [2]:
import pyspark

spark = (
    pyspark.sql.SparkSession.builder
        .appName(app_name)
        .master("local[4]") # limit executor to 4 cores
        .config("spark.executor.memory", "1g")
        .config("spark.driver.memory", "1g")
        .config("spark.ui.port", spark_ui_port)
        .getOrCreate()
)
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)  # to pretty print pyspark.DataFrame in jupyter

# sc = spark.sparkContext
# sc.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/08 21:07:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv("./titanic/train.csv", inferSchema=True, header=True)
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
# dataset shape
(len(df.columns), df.count())

(12, 891)

In [6]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Так смотреть не удобно - отформатируем вывод

In [7]:
dt = df.dtypes
for r in dt:
    print(f"{r[0]:>25}\t{r[1]}")

              PassengerId	int
                 Survived	int
                   Pclass	int
                     Name	string
                      Sex	string
                      Age	double
                    SibSp	int
                    Parch	int
                   Ticket	string
                     Fare	double
                    Cabin	string
                 Embarked	string

Давайте cортируем по типам

In [8]:
for r in sorted(
    df.dtypes, 
    key=lambda x: x[1]
):
    print(f"{r[0]:>25}\t{r[1]}")

                      Age	double
                     Fare	double
              PassengerId	int
                 Survived	int
                   Pclass	int
                    SibSp	int
                    Parch	int
                     Name	string
                      Sex	string
                   Ticket	string
                    Cabin	string
                 Embarked	string

Соберем по типам

In [9]:
dt.sort(key=lambda x: x[1])

print('Data types:')
for k, g in groupby(dt, lambda x: x[1]):
    print(f'{k:<6} - {len(list(g))}')

Data types:
double - 2
int    - 5
string - 5

## Кодирование категориальных признаков

In [10]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [11]:
from pyspark.ml.feature import StringIndexer

### Sex

<div class="alert alert-warning">

<b>Warning! Частая ошибка</b>


    
StringIndexer может работать с пропущенными значениями только в формате <b>NaN</b>, но не <b>NULL</b>!

<b>Необходимо проверить на пропуски!</b>
</div>

In [12]:
df.filter(df['Sex'].isNull()).count()

0

In [13]:
sex_indexer = StringIndexer()\
    .setInputCol('Sex')\
    .setOutputCol('SexIndexed')
df_prep = sex_indexer.fit(df).transform(df)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndexed|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|       0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|       1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|       0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
only showing top 5 rows

In [14]:
sex_indexer = StringIndexer(inputCol="Sex", outputCol="SexIndex")
sex_indexer_model = sex_indexer.fit(df)
df_prep = sex_indexer_model.transform(df)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 5 rows

### Pclass

In [15]:
df_prep.filter(df_prep['Pclass'].isNull()).count()

0

In [16]:
from pyspark.ml.feature import OneHotEncoder

pclass_indexer = StringIndexer()\
    .setInputCol('Pclass')\
    .setOutputCol('PclassIndex')

pclass_indexer_model = pclass_indexer.fit(df_prep)
df_prep = pclass_indexer_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+
only showing top 5 rows

In [17]:
pclass_encoder = OneHotEncoder()\
    .setInputCol('PclassIndex')\
    .setOutputCol('PclassEncoded')

pclass_encoder_model = pclass_encoder.fit(df_prep)
df_prep = pclass_encoder_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
only showing top 5 rows

In [18]:
df_prep.head(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S', SexIndex=0.0, PclassIndex=0.0, PclassEncoded=SparseVector(2, {0: 1.0})),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C', SexIndex=1.0, PclassIndex=1.0, PclassEncoded=SparseVector(2, {1: 1.0})),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S', SexIndex=1.0, PclassIndex=0.0, PclassEncoded=SparseVector(2, {0: 1.0})),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S', SexIndex=1.0, PclassIndex=1.0, PclassEncoded=SparseVector(2, {1: 1.0})),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S', SexIndex=0.0, PclassIndex=0.0, PclassEncoded=SparseVector(2, {0: 1.0}))]

In [19]:
df_prep.head()[-1]

SparseVector(2, {0: 1.0})

In [20]:
df_prep.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|     0.0|        1.0|(2,[1],[1.0])|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|     1.0|        2.0|    (2,[],[])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+
only showing top 10 rows

### Embarked

In [21]:
df_prep.filter(df_prep['Embarked'].isNull()).count()

2

<div class="alert alert-warning">

<b>Warning! Частая ошибка</b>



StringIndexer может работать с пропущенными значениями только в формате <b>NaN</b>, но не <b>NULL</b>!

Если мы закодируем значения `Embarked` то мы не увидим ошибки. Мы получим ошибку только при обращении к этой строке!
    
</div>

In [22]:
embark_indexer = StringIndexer()\
    .setInputCol('Embarked')\
    .setOutputCol('EmbarkedIndex')

df_err = embark_indexer.fit(df_prep).transform(df_prep)
df_err.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+
only showing top 5 rows

In [23]:
# uncomment for error

# df_err.show(62)

#### Заполним пропуски

In [24]:
df_prep = df_prep.fillna('X', subset=['Embarked'])
df_prep.show(62)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|     1.0|        1.0|(2,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|     1.0|        1.0|(2,[1],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877|  8.4583|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|     0.0|        1.0|(2,[1],[1.0])|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       NULL|       C|     1.0|        2.0|    (2,[],[])|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|     1.0|        0.0|(2,[0],[1.0])|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|     1.0|        1.0|(2,[1],[1.0])|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|    13.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|   7.225|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|     0.0|        2.0|    (2,[],[])|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|     0.0|        1.0|(2,[1],[1.0])|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|            2631|   7.225|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|     0.0|        1.0|(2,[1],[1.0])|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|NULL|    0|    0|          330959|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|          349216|  7.8958|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|        B78|       C|     1.0|        1.0|(2,[1],[1.0])|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|          335677|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       NULL|       S|     0.0|        2.0|    (2,[],[])|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       NULL|       S|     0.0|        1.0|(2,[1],[1.0])|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|            2677|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|          349253|  7.8958|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       NULL|       C|     1.0|        2.0|    (2,[],[])|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0| S.C./A.4. 23567|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|          370371|    15.5|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|
|         49|       0|     3| Samaan, Mr. Youssef|  male|NULL|    2|    0|            2662| 21.6792|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|         3101295| 39.6875|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|     7.8|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572| 76.7292|        D33|       C|     1.0|        1.0|(2,[1],[1.0])|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|    26.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|          113509| 61.9792|        B30|       C|     0.0|        1.0|(2,[1],[1.0])|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|           19947|    35.5|        C52|       S|     0.0|        1.0|(2,[1],[1.0])|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|    10.5|       NULL|       S|     1.0|        2.0|    (2,[],[])|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|   27.75|       NULL|       S|     1.0|        2.0|    (2,[],[])|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|         CA 2144|    46.9|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|            2669|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|    80.0|        B28|       X|     1.0|        1.0|(2,[1],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+
only showing top 62 rows

In [25]:
embark_indexer = StringIndexer()\
    .setInputCol('Embarked')\
    .setOutputCol('EmbarkedIndex')

embark_indexer_model = embark_indexer.fit(df_prep)
df_prep = embark_indexer_model.transform(df_prep)
df_prep.show(62)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877|  8.4583|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       NULL|       C|     1.0|        2.0|    (2,[],[])|          1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|    13.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|   7.225|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|          1.0|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|     0.0|        2.0|    (2,[],[])|          0.0|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|            2631|   7.225|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|NULL|    0|    0|          330959|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|          349216|  7.8958|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|        B78|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|          335677|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       NULL|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|            2677|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|          1.0|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|          349253|  7.8958|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       NULL|       C|     1.0|        2.0|    (2,[],[])|          1.0|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0| S.C./A.4. 23567|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|          370371|    15.5|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|
|         49|       0|     3| Samaan, Mr. Youssef|  male|NULL|    2|    0|            2662| 21.6792|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|         3101295| 39.6875|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|     7.8|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572| 76.7292|        D33|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|    26.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|          113509| 61.9792|        B30|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|           19947|    35.5|        C52|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|    10.5|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|   27.75|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|         CA 2144|    46.9|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|            2669|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|    80.0|        B28|       X|     1.0|        1.0|(2,[1],[1.0])|          3.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+
only showing top 62 rows

In [26]:
embarked_encoder = OneHotEncoder()\
    .setInputCol('EmbarkedIndex')\
    .setOutputCol('EmbarkedEncoded')

embarked_encoder_model = embarked_encoder.fit(df_prep)
df_prep = embarked_encoder_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+
only showing top 5 rows

## Нормализация числовых признаков

### Age

In [27]:
from pyspark.ml.feature import Imputer

In [28]:
age_imputer = Imputer()\
    .setInputCols(['Age'])\
    .setOutputCols(['AgeImputed'])\
    .setStrategy('mean')


age_imputer_model = age_imputer.fit(df_prep)
df_prep = age_imputer_model.transform(df_prep)
df_prep.show(62)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+---------------+-----------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|       AgeImputed|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+---------------+-----------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             22.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|             38.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             26.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             35.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             35.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877|  8.4583|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|29.69911764705882|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             54.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|              2.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             27.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       NULL|       C|     1.0|        2.0|    (2,[],[])|          1.0|  (3,[1],[1.0])|             14.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|              4.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             58.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             20.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             39.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             14.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             55.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|              2.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|    13.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|29.69911764705882|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             31.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|   7.225|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             35.0|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|     0.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             34.0|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|             15.0|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             28.0|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|              8.0|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             38.0|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|            2631|   7.225|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             19.0|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|NULL|    0|    0|          330959|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|29.69911764705882|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|          349216|  7.8958|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|29.69911764705882|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|             40.0|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|        B78|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|          335677|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|29.69911764705882|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       NULL|       S|     0.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             66.0|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       NULL|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|             28.0|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       NULL|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|             42.0|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|            2677|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             21.0|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             18.0|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       NULL|       C|     1.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|             14.0|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             40.0|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             27.0|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|          349253|  7.8958|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       NULL|       C|     1.0|        2.0|    (2,[],[])|          1.0|  (3,[1],[1.0])|              3.0|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|             19.0|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0| S.C./A.4. 23567|    8.05|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|29.69911764705882|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|          370371|    15.5|       NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|29.69911764705882|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75|       NULL|       Q|     1.0|        0.0|(2,[0],[1.0])|          2.0|  (3,[2],[1.0])|29.69911764705882|
|         49|       0|     3| Samaan, Mr. Youssef|  male|NULL|    2|    0|            2662| 21.6792|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|29.69911764705882|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             18.0|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|         3101295| 39.6875|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|              7.0|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|     7.8|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             21.0|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572| 76.7292|        D33|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|             49.0|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|    26.0|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             29.0|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|          113509| 61.9792|        B30|       C|     0.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|             65.0|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|           19947|    35.5|        C52|       S|     0.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|29.69911764705882|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|    10.5|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|             21.0|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|             28.5|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|   27.75|       NULL|       S|     1.0|        2.0|    (2,[],[])|          0.0|  (3,[0],[1.0])|              5.0|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|         CA 2144|    46.9|       NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|             11.0|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|            2669|  7.2292|       NULL|       C|     0.0|        0.0|(2,[0],[1.0])|          1.0|  (3,[1],[1.0])|             22.0|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|    80.0|        B28|       X|     1.0|        1.0|(2,[1],[1.0])|          3.0|      (3,[],[])|             38.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+--------+-----------+-------------+-------------+---------------+-----------------+
only showing top 62 rows

In [29]:
from pyspark.ml.feature import VectorAssembler

In [33]:
age_assembler = VectorAssembler()\
    .setInputCols(["AgeImputed"])\
    .setOutputCol("AgeVector")

df_prep = age_assembler.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|AgeImputed|   AssembledVector|AgeVector|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      22.0|[22.0,1.0,0.0,0.0]|   [22.0]|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|      38.0|[38.0,0.0,1.0,0.0]|   [38.0]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      26.0|[26.0,1.0,0.0,0.0]|   [26.0]|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+
only showing top 5 rows

In [34]:
from pyspark.ml.feature import MinMaxScaler

In [35]:
age_scaler = MinMaxScaler()\
    .setInputCol('AgeVector')\
    .setOutputCol('AgeScaled')

age_scaler_model = age_scaler.fit(df_prep)
df_prep = age_scaler_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|AgeImputed|   AssembledVector|AgeVector|           AgeScaled|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      22.0|[22.0,1.0,0.0,0.0]|   [22.0]|[0.2711736617240513]|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|      38.0|[38.0,0.0,1.0,0.0]|   [38.0]|[0.4722292033174164]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      26.0|[26.0,1.0,0.0,0.0]|   [26.0]|[0.32143754712239...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+
only showing top 5 rows

In [36]:
df_prep.filter(df_prep['Fare'].isNull()).count()

0

In [37]:
fare_imputer = Imputer(inputCol="Fare", outputCol="FareImputed")
fare_imputer_model = fare_imputer.fit(df_prep)
df_prep = fare_imputer_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|AgeImputed|   AssembledVector|AgeVector|           AgeScaled|FareImputed|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      22.0|[22.0,1.0,0.0,0.0]|   [22.0]|[0.2711736617240513]|       7.25|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|      38.0|[38.0,0.0,1.0,0.0]|   [38.0]|[0.4722292033174164]|    71.2833|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      26.0|[26.0,1.0,0.0,0.0]|   [26.0]|[0.32143754712239...|      7.925|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       53.1|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       8.05|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+
only showing top 5 rows

In [38]:
fare_assembler = VectorAssembler(inputCols=["FareImputed"], outputCol="FareVector")
df_prep = fare_assembler.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|AgeImputed|   AssembledVector|AgeVector|           AgeScaled|FareImputed|FareVector|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      22.0|[22.0,1.0,0.0,0.0]|   [22.0]|[0.2711736617240513]|       7.25|    [7.25]|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|      38.0|[38.0,0.0,1.0,0.0]|   [38.0]|[0.4722292033174164]|    71.2833| [71.2833]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      26.0|[26.0,1.0,0.0,0.0]|   [26.0]|[0.32143754712239...|      7.925|   [7.925]|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       53.1|    [53.1]|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       8.05|    [8.05]|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+
only showing top 5 rows

In [39]:
from pyspark.ml.feature import RobustScaler

fare_scaler = RobustScaler(inputCol="FareVector", outputCol="FareScaled")
fare_scaler_model = fare_scaler.fit(df_prep)
df_prep = fare_scaler_model.transform(df_prep)
df_prep.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|EmbarkedIndex|EmbarkedEncoded|AgeImputed|   AssembledVector|AgeVector|           AgeScaled|FareImputed|FareVector|          FareScaled|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      22.0|[22.0,1.0,0.0,0.0]|   [22.0]|[0.2711736617240513]|       7.25|    [7.25]|[0.3137957600782542]|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|          1.0|  (3,[1],[1.0])|      38.0|[38.0,0.0,1.0,0.0]|   [38.0]|[0.4722292033174164]|    71.2833| [71.2833]|  [3.08529617991534]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      26.0|[26.0,1.0,0.0,0.0]|   [26.0]|[0.32143754712239...|      7.925|   [7.925]|[0.34301122739588...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       53.1|    [53.1]|[2.2982834289869376]|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|          0.0|  (3,[0],[1.0])|      35.0|[35.0,1.0,0.0,0.0]|   [35.0]|[0.43453128926866...|       8.05|    [8.05]|[0.34842149912137...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+-------------+---------------+----------+------------------+---------+--------------------+-----------+----------+--------------------+
only showing top 5 rows

## Собираем вектор признаков

Для алгоритмов МО из Spark MlLib нужно подавать на вход столбец с вектором признаков

In [40]:
from pyspark.ml.feature import VectorAssembler

features_assembler = VectorAssembler(inputCols=[
    "SexIndex",
    "PclassEncoded",
    "AgeScaled",
    "FareScaled",
    ],
    outputCol="Features",
)

prep_df = df
prep_df = sex_indexer_model.transform(prep_df)
prep_df = pclass_indexer_model.transform(prep_df)
prep_df = pclass_encoder_model.transform(prep_df)
prep_df = age_imputer_model.transform(prep_df)
prep_df = age_assembler.transform(prep_df)
prep_df = age_scaler_model.transform(prep_df)
prep_df = fare_imputer_model.transform(prep_df)
prep_df = fare_assembler.transform(prep_df)
prep_df = fare_scaler_model.transform(prep_df)
feat_df = features_assembler.transform(prep_df)

feat_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|AgeImputed|AgeVector|           AgeScaled|FareImputed|FareVector|          FareScaled|            Features|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|      22.0|   [22.0]|[0.2711736617240513]|       7.25|    [7.25]|[0.3137957600782542]|[0.0,1.0,0.0,0.27...|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|      38.0|   [38.0]|[0.4722292033174164]|    71.2833| [71.2833]|  [3.08529617991534]|[1.0,0.0,1.0,0.47...|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|      26.0|   [26.0]|[0.32143754712239...|      7.925|   [7.925]|[0.34301122739588...|[1.0,1.0,0.0,0.32...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|      35.0|   [35.0]|[0.43453128926866...|       53.1|    [53.1]|[2.2982834289869376]|[1.0,0.0,1.0,0.43...|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|      35.0|   [35.0]|[0.43453128926866...|       8.05|    [8.05]|[0.34842149912137...|[0.0,1.0,0.0,0.43...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
only showing top 5 rows

## Конвейер

Объединим различные этапы подготовки признаков в единый конвейер

In [41]:
from pyspark.ml.pipeline import Pipeline

feat_ext_pipe = Pipeline(stages=[
    sex_indexer,
    pclass_indexer,
    pclass_encoder,
    age_imputer,
    age_assembler,
    age_scaler,
    fare_imputer_model,
    fare_assembler,
    fare_scaler_model,
    features_assembler,
]).fit(df)

In [42]:
feat_df = feat_ext_pipe.transform(df)
feat_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|AgeImputed|AgeVector|           AgeScaled|FareImputed|FareVector|          FareScaled|            Features|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|      22.0|   [22.0]|[0.2711736617240513]|       7.25|    [7.25]|[0.3137957600782542]|[0.0,1.0,0.0,0.27...|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     1.0|        1.0|(2,[1],[1.0])|      38.0|   [38.0]|[0.4722292033174164]|    71.2833| [71.2833]|  [3.08529617991534]|[1.0,0.0,1.0,0.47...|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|      26.0|   [26.0]|[0.32143754712239...|      7.925|   [7.925]|[0.34301122739588...|[1.0,1.0,0.0,0.32...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     1.0|        1.0|(2,[1],[1.0])|      35.0|   [35.0]|[0.43453128926866...|       53.1|    [53.1]|[2.2982834289869376]|[1.0,0.0,1.0,0.43...|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|      35.0|   [35.0]|[0.43453128926866...|       8.05|    [8.05]|[0.34842149912137...|[0.0,1.0,0.0,0.43...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
only showing top 5 rows

## Сохранение

Сохраним конвейер на диск для последующего использования при подготовке других данных

In [43]:
feat_ext_pipe.write().overwrite().save(f"{app_name}_feat_exty_pipe")

## Обработка тестовых данных

In [44]:
from pyspark.ml.pipeline import PipelineModel

test_df = spark.read.csv("./titanic/test.csv", inferSchema=True, header=True)

feat_ext_pipe_loaded = PipelineModel.load(f"{app_name}_feat_exty_pipe")

prep_test_df = feat_ext_pipe_loaded.transform(test_df)
prep_test_df.show(5)

+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch| Ticket|   Fare|Cabin|Embarked|SexIndex|PclassIndex|PclassEncoded|AgeImputed|AgeVector|           AgeScaled|FareImputed|FareVector|          FareScaled|            Features|
+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0| 330911| 7.8292| NULL|       Q|     0.0|        0.0|(2,[0],[1.0])|      34.5|   [34.5]|[0.4282483035938678]|     7.8292|  [7.8292]|[0.3388647951454714]|[0.0,1.0,0.0,0.42...|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0| 363272|    7.0| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|      47.0|   [47.0]|[0.5853229454636844]|        7.0|     [7.0]|[0.3029752166272799]|[1.0,1.0,0.0,0.58...|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0| 240276| 9.6875| NULL|       Q|     0.0|        2.0|    (2,[],[])|      62.0|   [62.0]|[0.7738125157074641]|     9.6875|  [9.6875]|[0.41929605872525...|(5,[3,4],[0.77381...|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0| 315154| 8.6625| NULL|       S|     0.0|        0.0|(2,[0],[1.0])|      27.0|   [27.0]|[0.33400351847197...|     8.6625|  [8.6625]|[0.3749318305762589]|[0.0,1.0,0.0,0.33...|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|3101298|12.2875| NULL|       S|     1.0|        0.0|(2,[0],[1.0])|      22.0|   [22.0]|[0.2711736617240513]|    12.2875| [12.2875]| [0.531829710615386]|[1.0,1.0,0.0,0.27...|
+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+-----------+-------------+----------+---------+--------------------+-----------+----------+--------------------+--------------------+
only showing top 5 rows

In [46]:
feat_df.head()[-1]

DenseVector([0.0, 1.0, 0.0, 0.2712, 0.3138])