In [1]:
import clickhouse_connect

In [2]:
client = clickhouse_connect.get_client(host='localhost')

In [4]:
result = client.query('SHOW DATABASES')
result.result_rows

[('INFORMATION_SCHEMA',), ('default',), ('information_schema',), ('system',)]

In [5]:
result = client.query('CREATE DATABASE IF NOT EXISTS test_database')
result.result_rows

[[0, 0, 0, 0, 0, 0, 0, 3311541, '67cf4f68-dc7a-4d6d-99de-074bc21107b6']]

In [6]:
result = client.query('SHOW DATABASES')
result.result_rows

[('INFORMATION_SCHEMA',),
 ('default',),
 ('information_schema',),
 ('system',),
 ('test_database',)]

In [7]:
client.query('USE test_database')

In [9]:
result = client.query(
'''CREATE TABLE IF NOT EXISTS test_table(
id UInt64 NOT NULL,
name String,
PRIMARY KEY id);
''')
result.result_rows

[[0, 0, 0, 0, 0, 0, 0, 1428917, 'a56e697d-7cde-4189-bb2c-06fdf94d0a0d']]

In [13]:
result = client.query(
'''CREATE TABLE IF NOT EXISTS test_database.test_table(
id UInt64 NOT NULL,
name String,
PRIMARY KEY id);
''')
result.result_rows

[[0, 0, 0, 0, 0, 0, 0, 7622209, '272969cd-7536-4edf-acb9-5d3dca817efa']]

In [10]:
result = client.query('SHOW TABLES FROM test_database')
result.result_rows

[('test_table',)]

In [11]:
q = '''
INSERT INTO test_database.test_table (id, name) VALUES
(1, 'Name 1'),
(2, 'Name 2')
'''
result = client.query(q)
result.result_rows

[]

In [12]:
result = client.query('SELECT * FROM test_database.test_table')
result.result_rows

[(1, 'Name 1'), (2, 'Name 2')]