# Работа с MongoDB - основы

In [4]:
from pymongo import MongoClient

In [5]:
client = MongoClient('localhost', 27017)
db = client['my_test_database']
coll = db['my_test_collection']

In [6]:
print(client.list_database_names())

['admin', 'config', 'local']

In [7]:
mydict = { "name": "John", "address": "Highway 37" }

x = coll.insert_one(mydict)

In [8]:
print(client.list_database_names())

['admin', 'config', 'local', 'my_test_database']

In [9]:
mylist = [
    { "name": "Amy", "address": "Apple st 652"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Michael", "address": "Valley 345"},
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1"},
    { "name": "Richard", "address": "Sky st 331"},
    { "name": "Susan", "address": "One way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2"},
    { "name": "Ben", "address": "Park Lane 38"},
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989"},
    { "name": "Viola", "address": "Sideway 1633"}
]

In [10]:
x = coll.insert_many(mylist)

In [11]:
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('66e057e055dacdbd152f15fd'), ObjectId('66e057e055dacdbd152f15fe'), ObjectId('66e057e055dacdbd152f15ff'), ObjectId('66e057e055dacdbd152f1600'), ObjectId('66e057e055dacdbd152f1601'), ObjectId('66e057e055dacdbd152f1602'), ObjectId('66e057e055dacdbd152f1603'), ObjectId('66e057e055dacdbd152f1604'), ObjectId('66e057e055dacdbd152f1605'), ObjectId('66e057e055dacdbd152f1606'), ObjectId('66e057e055dacdbd152f1607'), ObjectId('66e057e055dacdbd152f1608')]

In [12]:
# get all records
for x in coll.find():
    print(x)

{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057e055dacdbd152f1600'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e057e055dacdbd152f1601'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1603'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1605'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e057e055dacdbd152f1606'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e057e055dacdbd152f1607'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
# limit resuts
for x in coll.find().limit(4):
    print(x)

{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}

In [13]:
# filter by address begins with S or further alphabetically.
myquery = { "address": { "$gt": "S" } }

for x in coll.find(myquery):
    print(x)

{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
# filter by address start from 'S'
myquery = { "address": { "$regex": "^S" } }

for x in coll.find(myquery):
    print(x)

{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [17]:
# sort by name ascending
for x in coll.find().sort('name', 1):
    print(x)

{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e057e055dacdbd152f1605'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e057e055dacdbd152f1601'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e057e055dacdbd152f1607'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1600'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e057e055dacdbd152f1603'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e057e055dacdbd152f1606'), 'name': 'William', 'address': 'Central st 954'}

In [18]:
# sort by name descending
for x in coll.find().sort('name', -1):
    print(x)

{'_id': ObjectId('66e057e055dacdbd152f1606'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1603'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e057e055dacdbd152f1600'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057e055dacdbd152f1607'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e057e055dacdbd152f1601'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e057e055dacdbd152f1605'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}

## Вставить сложные объекты в ту же коллекцию

In [22]:
mydict = { "names": ["John", "Jane", "Ann"], "address": "Highway 37" }

x = coll.insert_one(mydict)

In [49]:
for x in coll.find():
    print(x)

{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057e055dacdbd152f1600'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e057e055dacdbd152f1601'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1603'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1605'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e057e055dacdbd152f1606'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e057e055dacdbd152f1607'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e05a9655dacdbd152f1609'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}
{'_id': ObjectId('66e05ba555dacdbd152f160a'), 'names': ['John', 'Jane', 'Ann'], 'address': {'full': 'full address', 'brief': 'brief address'}}

In [31]:
mydict = { "names": ["John", "Jane", "Ann"], "address": {'full': 'full address', 'brief': 'brief address'} }

x = coll.insert_one(mydict)

In [50]:
for x in coll.find():
    print(x)

{'_id': ObjectId('66e057dd55dacdbd152f15fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e057e055dacdbd152f15fd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e057e055dacdbd152f15fe'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e057e055dacdbd152f15ff'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e057e055dacdbd152f1600'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e057e055dacdbd152f1601'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e057e055dacdbd152f1602'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e057e055dacdbd152f1603'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e057e055dacdbd152f1604'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e057e055dacdbd152f1605'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e057e055dacdbd152f1606'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e057e055dacdbd152f1607'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e057e055dacdbd152f1608'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e05a9655dacdbd152f1609'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}
{'_id': ObjectId('66e05ba555dacdbd152f160a'), 'names': ['John', 'Jane', 'Ann'], 'address': {'full': 'full address', 'brief': 'brief address'}}

[Больше примеров подробных запросов в системе MongoDB](https://www.mongodb.com/docs/manual/tutorial/query-array-of-documents/)