# Работа с MongoDB - основы

In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)
db = client['my_test_database']
coll = db['my_test_collection']

In [3]:
print(client.list_database_names())

['admin', 'config', 'local']

In [4]:
mydict = { "name": "John", "address": "Highway 37" }

x = coll.insert_one(mydict)

In [5]:
print(client.list_database_names())

['admin', 'config', 'local', 'my_test_database']

In [6]:
mylist = [
    { "name": "Amy", "address": "Apple st 652"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Michael", "address": "Valley 345"},
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1"},
    { "name": "Richard", "address": "Sky st 331"},
    { "name": "Susan", "address": "One way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2"},
    { "name": "Ben", "address": "Park Lane 38"},
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989"},
    { "name": "Viola", "address": "Sideway 1633"}
]

In [7]:
x = coll.insert_many(mylist)

In [8]:
#print list of the _id values of the inserted documents:
for ids in x.inserted_ids:
    print(ids)

66e481c00c7164866490dee5
66e481c00c7164866490dee6
66e481c00c7164866490dee7
66e481c00c7164866490dee8
66e481c00c7164866490dee9
66e481c00c7164866490deea
66e481c00c7164866490deeb
66e481c00c7164866490deec
66e481c00c7164866490deed
66e481c00c7164866490deee
66e481c00c7164866490deef
66e481c00c7164866490def0

In [9]:
# get all records
for x in coll.find():
    print(x)

{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490dee9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490deee'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [11]:
# limit resuts
for x in coll.find().limit(4):
    print(x)

{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}

In [14]:
# filter by address begins with S or further alphabetically.
myquery = { "address": { "$gt": "Ma" } }

for x in coll.find(myquery):
    print(x)

{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
# filter by address start from 'S'
myquery = { "address": { "$regex": "^S" } }

for x in coll.find(myquery):
    print(x)

{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [16]:
# sort by name ascending
for x in coll.find().sort('name', 1):
    print(x)

{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490dee9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e481c00c7164866490deee'), 'name': 'William', 'address': 'Central st 954'}

In [17]:
# sort by name descending
for x in coll.find().sort('name', -1):
    print(x)

{'_id': ObjectId('66e481c00c7164866490deee'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490dee9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}

## Вставить сложные объекты в ту же коллекцию

In [18]:
mydict = { "names": ["John", "Jane", "Ann"], "address": "Highway 37" }

x = coll.insert_one(mydict)

In [19]:
for x in coll.find():
    print(x)

{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490dee9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490deee'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e4835c0c7164866490def1'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}

In [20]:
mydict = { "names": ["John", "Jane", "Ann"], "address": {'full': 'full address', 'brief': 'brief address'} }

x = coll.insert_one(mydict)

In [21]:
for x in coll.find():
    print(x)

{'_id': ObjectId('66e4819b0c7164866490dee4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e481c00c7164866490dee5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e481c00c7164866490dee6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e481c00c7164866490dee7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e481c00c7164866490dee8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e481c00c7164866490dee9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e481c00c7164866490deea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e481c00c7164866490deeb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e481c00c7164866490deec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e481c00c7164866490deed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e481c00c7164866490deee'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e481c00c7164866490deef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e481c00c7164866490def0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66e4835c0c7164866490def1'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}
{'_id': ObjectId('66e4836f0c7164866490def2'), 'names': ['John', 'Jane', 'Ann'], 'address': {'full': 'full address', 'brief': 'brief address'}}

[Больше примеров подробных запросов в системе MongoDB](https://www.mongodb.com/docs/manual/tutorial/query-array-of-documents/)